apiVersion: operators.coreos.com/v1alpha1
kind: ClusterServiceVersion
metadata:
  annotations:
    alm-examples: |-
      [
        {
          "apiVersion": "multicluster.odf.openshift.io/v1alpha1",
          "kind": "MirrorPeer",
          "metadata": {
            "name": "mirrorpeer-sample"
          },
          "spec": {
            "items": [
              {
                "clusterName": "local-cluster",
                "storageClusterRef": {
                  "name": "ocs-storagecluster",
                  "namespace": "openshift-storage"
                }
              },
              {
                "clusterName": "spoke-cluster",
                "storageClusterRef": {
                  "name": "ocs-storagecluster",
                  "namespace": "openshift-storage"
                }
              }
            ],
            "manageS3": false,
            "schedulingIntervals": [
              "5m"
            ]
          }
        }
      ]
    capabilities: Seamless Upgrades
    console.openshift.io/plugins: '["odf-multicluster-console"]'
    createdAt: "2025-12-02T15:07:48Z"
    olm.skipRange: ""
    operators.openshift.io/infrastructure-features: '["disconnected"]'
    operators.operatorframework.io/builder: operator-sdk-unknown
    operators.operatorframework.io/project_layout: go.kubebuilder.io/v4
  labels:
    operatorframework.io/arch.amd64: supported
    operatorframework.io/arch.arm64: supported
    operatorframework.io/arch.ppc64le: supported
    operatorframework.io/arch.s390x: supported
  name: odf-multicluster-orchestrator.v0.0.1
  namespace: placeholder
spec:
  apiservicedefinitions: {}
  customresourcedefinitions:
    owned:
    - description: MirrorPeer is the Schema for the mirrorpeers API
      displayName: Mirror Peer
      kind: MirrorPeer
      name: mirrorpeers.multicluster.odf.openshift.io
      version: v1alpha1
    - kind: ProtectedApplicationView
      name: protectedapplicationviews.multicluster.odf.openshift.io
      version: v1alpha1
  description: |
    Orchestrator for OpenShift Data Foundation clusters running across multiple OpenShift clusters.
    It uses Red Hat Advanced Cluster Management for Kubernetes as the multicluster control plane.
  displayName: ODF Multicluster Orchestrator
  icon:
  - base64data: PHN2ZyBpZD0iTGF5ZXJfMSIgZGF0YS1uYW1lPSJMYXllciAxIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAxOTIgMTQ1Ij48ZGVmcz48c3R5bGU+LmNscy0xe2ZpbGw6I2UwMDt9PC9zdHlsZT48L2RlZnM+PHRpdGxlPlJlZEhhdC1Mb2dvLUhhdC1Db2xvcjwvdGl0bGU+PHBhdGggZD0iTTE1Ny43Nyw2Mi42MWExNCwxNCwwLDAsMSwuMzEsMy40MmMwLDE0Ljg4LTE4LjEsMTcuNDYtMzAuNjEsMTcuNDZDNzguODMsODMuNDksNDIuNTMsNTMuMjYsNDIuNTMsNDRhNi40Myw2LjQzLDAsMCwxLC4yMi0xLjk0bC0zLjY2LDkuMDZhMTguNDUsMTguNDUsMCwwLDAtMS41MSw3LjMzYzAsMTguMTEsNDEsNDUuNDgsODcuNzQsNDUuNDgsMjAuNjksMCwzNi40My03Ljc2LDM2LjQzLTIxLjc3LDAtMS4wOCwwLTEuOTQtMS43My0xMC4xM1oiLz48cGF0aCBjbGFzcz0iY2xzLTEiIGQ9Ik0xMjcuNDcsODMuNDljMTIuNTEsMCwzMC42MS0yLjU4LDMwLjYxLTE3LjQ2YTE0LDE0LDAsMCwwLS4zMS0zLjQybC03LjQ1LTMyLjM2Yy0xLjcyLTcuMTItMy4yMy0xMC4zNS0xNS43My0xNi42QzEyNC44OSw4LjY5LDEwMy43Ni41LDk3LjUxLjUsOTEuNjkuNSw5MCw4LDgzLjA2LDhjLTYuNjgsMC0xMS42NC01LjYtMTcuODktNS42LTYsMC05LjkxLDQuMDktMTIuOTMsMTIuNSwwLDAtOC40MSwyMy43Mi05LjQ5LDI3LjE2QTYuNDMsNi40MywwLDAsMCw0Mi41Myw0NGMwLDkuMjIsMzYuMywzOS40NSw4NC45NCwzOS40NU0xNjAsNzIuMDdjMS43Myw4LjE5LDEuNzMsOS4wNSwxLjczLDEwLjEzLDAsMTQtMTUuNzQsMjEuNzctMzYuNDMsMjEuNzdDNzguNTQsMTA0LDM3LjU4LDc2LjYsMzcuNTgsNTguNDlhMTguNDUsMTguNDUsMCwwLDEsMS41MS03LjMzQzIyLjI3LDUyLC41LDU1LC41LDc0LjIyYzAsMzEuNDgsNzQuNTksNzAuMjgsMTMzLjY1LDcwLjI4LDQ1LjI4LDAsNTYuNy0yMC40OCw1Ni43LTM2LjY1LDAtMTIuNzItMTEtMjcuMTYtMzAuODMtMzUuNzgiLz48L3N2Zz4=
    mediatype: image/svg+xml
  install:
    spec:
      clusterPermissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - ""
          resourceNames:
          - odf-client-info
          resources:
          - configmaps
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
          - update
        - apiGroups:
          - ""
          resources:
          - pods
          verbs:
          - get
        - apiGroups:
          - ""
          resources:
          - secrets
          verbs:
          - create
          - delete
          - deletecollection
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ""
          resources:
          - services
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - addon.open-cluster-management.io
          resources:
          - clustermanagementaddons
          - managedclusteraddons
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - addon.open-cluster-management.io
          resources:
          - managedclusteraddons/finalizers
          - managedclusteraddons/status
          verbs:
          - create
          - delete
          - patch
          - update
        - apiGroups:
          - app.k8s.io
          resources:
          - applications
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - apps
          resources:
          - deployments
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - apps
          resources:
          - replicasets
          verbs:
          - get
        - apiGroups:
          - apps.open-cluster-management.io
          resources:
          - subscriptions
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - argoproj.io
          resources:
          - applicationsets
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
          - get
        - apiGroups:
          - certificates.k8s.io
          resources:
          - certificatesigningrequests
          - certificatesigningrequests/approval
          verbs:
          - create
          - get
          - list
          - update
          - watch
        - apiGroups:
          - certificates.k8s.io
          resources:
          - signers
          verbs:
          - approve
        - apiGroups:
          - cluster.open-cluster-management.io
          resources:
          - managedclusters
          - placementdecisions
          - placements
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - console.openshift.io
          resources:
          - consoleplugins
          verbs:
          - create
          - get
          - update
        - apiGroups:
          - multicluster.odf.openshift.io
          resources:
          - mirrorpeers
          verbs:
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - multicluster.odf.openshift.io
          resources:
          - mirrorpeers/finalizers
          - mirrorpeers/status
          verbs:
          - create
          - delete
          - get
          - patch
          - update
        - apiGroups:
          - multicluster.odf.openshift.io
          resources:
          - protectedapplicationviews
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - multicluster.odf.openshift.io
          resources:
          - protectedapplicationviews/status
          verbs:
          - get
          - patch
          - update
        - apiGroups:
          - ramendr.openshift.io
          resources:
          - drclusters
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - ramendr.openshift.io
          resources:
          - drplacementcontrols
          - drpolicies
          verbs:
          - get
          - list
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resourceNames:
          - spoke-clusterrole-bindings
          resources:
          - clusterrolebindings
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - rbac.authorization.k8s.io
          resources:
          - clusterrolebindings
          - clusterroles
          - rolebindings
          - roles
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - view.open-cluster-management.io
          resources:
          - managedclusterviews
          verbs:
          - create
          - delete
          - get
          - list
          - update
          - watch
        - apiGroups:
          - work.open-cluster-management.io
          resources:
          - manifestworks
          verbs:
          - create
          - delete
          - get
          - list
          - patch
          - update
          - watch
        - apiGroups:
          - authentication.k8s.io
          resources:
          - tokenreviews
          verbs:
          - create
        - apiGroups:
          - authorization.k8s.io
          resources:
          - subjectaccessreviews
          verbs:
          - create
        serviceAccountName: odfmo-controller-manager
      deployments:
      - label:
          control-plane: odfmo-controller-manager
        name: odfmo-controller-manager
        spec:
          replicas: 1
          selector:
            matchLabels:
              control-plane: odfmo-controller-manager
          strategy: {}
          template:
            metadata:
              labels:
                control-plane: odfmo-controller-manager
            spec:
              containers:
              - args:
                - manager
                - --leader-elect
                command:
                - /odf-multicluster-orchestrator
                env:
                - name: TOKEN_EXCHANGE_IMAGE
                  value: quay.io/ocs-dev/odf-multicluster-orchestrator:latest
                - name: POD_NAME
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.name
                - name: POD_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.namespace
                image: quay.io/ocs-dev/odf-multicluster-orchestrator:latest
                livenessProbe:
                  httpGet:
                    path: /healthz
                    port: 8081
                  initialDelaySeconds: 15
                  periodSeconds: 20
                name: odf-multicluster-orchestrator
                ports:
                - containerPort: 8081
                  protocol: TCP
                readinessProbe:
                  httpGet:
                    path: /readyz
                    port: 8081
                  initialDelaySeconds: 5
                  periodSeconds: 10
                resources:
                  limits:
                    cpu: 100m
                    memory: 300Mi
                  requests:
                    cpu: 100m
                    memory: 200Mi
                securityContext:
                  allowPrivilegeEscalation: false
              securityContext:
                runAsNonRoot: true
              serviceAccountName: odfmo-controller-manager
              terminationGracePeriodSeconds: 10
      - label:
          app.kubernetes.io/name: odf-multicluster-console
        name: odf-multicluster-console
        spec:
          selector:
            matchLabels:
              app.kubernetes.io/name: odf-multicluster-console
          strategy: {}
          template:
            metadata:
              labels:
                app.kubernetes.io/name: odf-multicluster-console
            spec:
              automountServiceAccountToken: false
              containers:
              - image: quay.io/ocs-dev/odf-multicluster-console:latest
                name: odf-multicluster-console
                ports:
                - containerPort: 9001
                  protocol: TCP
                resources:
                  limits:
                    cpu: 100m
                    memory: 512Mi
                volumeMounts:
                - mountPath: /var/serving-cert
                  name: odf-multicluster-console-serving-cert
                  readOnly: true
              volumes:
              - name: odf-multicluster-console-serving-cert
                secret:
                  secretName: odf-multicluster-console-serving-cert
      permissions:
      - rules:
        - apiGroups:
          - ""
          resources:
          - configmaps
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - coordination.k8s.io
          resources:
          - leases
          verbs:
          - get
          - list
          - watch
          - create
          - update
          - patch
          - delete
        - apiGroups:
          - ""
          resources:
          - events
          verbs:
          - create
          - patch
        serviceAccountName: odfmo-controller-manager
    strategy: deployment
  installModes:
  - supported: false
    type: OwnNamespace
  - supported: false
    type: SingleNamespace
  - supported: false
    type: MultiNamespace
  - supported: true
    type: AllNamespaces
  keywords:
  - odf
  - multicluster
  - orchestrator
  - storage
  - acm
  links:
  - name: ODF Multicluster Orchestrator
    url: https://github.com/red-hat-storage/odf-multicluster-orchestrator
  maintainers:
  - email: uchapaga@redhat.com
    name: Umanga Chapagain
  maturity: alpha
  provider:
    name: Red Hat
  version: 0.0.1
