name: Lint Codebase

on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'

defaults:
  run:
    shell: bash

jobs:
  golangci-lint:
    name: Go ${{ matrix.go }} Lint
    runs-on: ubuntu-latest
    strategy:
      matrix:
        go: [ '1.21' ]
    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Setup go
      uses: actions/setup-go@v3
      with:
        go-version: ${{ matrix.go }}

    - name: Lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.57.0

  kube-linter:
    name: Kube YAML
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v3

    - name: Lint
      uses: stackrox/kube-linter-action@v1.0.4
      with:
        directory: config/
        config: .kube-linter-config.yaml