name: Lint Codebase

on:
  push:
    branches:
    - '*'
  pull_request:
    branches:
    - '*'

defaults:
  run:
    shell: bash

jobs:
  golangci-lint:
    name: Go Lint
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v6

    - name: Setup go
      uses: actions/setup-go@v6
      with:
        go-version-file: go.mod

    - name: Lint
      uses: golangci/golangci-lint-action@v7
      with:
        version: v2.8.0

  kube-linter:
    name: Kube YAML
    runs-on: ubuntu-latest
    steps:
    - name: Checkout source
      uses: actions/checkout@v6

    - name: Lint
      uses: stackrox/kube-linter-action@v1.0.4
      with:
        directory: config/
        config: .kube-linter-config.yaml